.game-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #aaa;


}

.game-imgae {
    width: '100%';
    height: '500px';
    position: 'absolute'

    span {
        max-height: 500px;
        width: auto;
        opacity: 0.2;
    }

}